@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin line-height($font-size, $line-height) {
  line-height: $line-height / $font-size;
}

@function px2rem($value) {
  @return ($value / $base-font-size) * 1rem;
}
