body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: $primary-font;
  font-size: $base-font-size * 1px;
  line-height: 1;
  font-weight: normal;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
