.advantages {
  position: relative;
  padding: 75px $mobile-horizontal-margin 327px;
  text-align: center;
  background: #f2f2f2 url("./../img/bg-triangle-white.svg") no-repeat 100% 0;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    @include size(157px, 282px);
    background: #f2f2f2 url("./../img/iphone-screen-mobile@1x.png") no-repeat 50% 0;
  }
}

.advantages__items {
  @include list-reset;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__title {
  margin: 0 0 15px;
  font-size: px2rem(18);
  @include line-height(18, 24);
  font-weight: bold;
}

.advantages__description {
  font-size: px2rem(14);
  @include line-height(14, 24);
  color: #283645;
}

@media #{$tablet-widths} {
  .advantages {
    padding: 75px $tablet-horizontal-margin 40px;

    &:after {
      left: $tablet-horizontal-margin;
      transform: translate(0);
    }
  }

  .advantages__items {
    margin-left: auto;
    width: 310px;
    text-align: left;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media #{$desktop-widths} {
  .advantages {
    padding: 0;

    &:after {
      display: none;
    }
  }

  .advantages__items {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    text-align: center;
    @include clearfix;
  }

  .advantages__item:nth-child(n) {
    float: left;
    margin: 0 55px 0 0;
    width: 240px;
  }

  .advantages__item:first-child {
    margin-left: 55px;
  }

  .advantages__image {
    margin-bottom: 50px;
    height: 300px;
    background: url("./../img/iphone-screen-mobile@1x.png") no-repeat 50% 0;
  }

  .advantages__title {
    margin-bottom: 20px;
    font-size: px2rem(30);
    line-height: 1;
  }

  .advantages__description {
    font-size: px2rem(18);
    @include line-height(18, 30);
  }
}
