.btn {
  box-sizing: border-box;
  display: block;
  padding: 15px 0 16px;
  border-radius: 25px;
  border: 3px solid white;
  font-size: px2rem(18);
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.btn--download:hover {
  color: $secondary-color;
  background-color: white;
}

.btn--download:active {
  color: rgba($secondary-color, 0.3);
  background-color: white;
}

.btn--send-file {
  border-color: $secondary-color;
  color: $secondary-color;

  &:hover {
    color: white;
    background-color: $secondary-color;
  }

  &:active {
    color: rgba(white, 0.3);
    background-color: $secondary-color;
  }
}

.btn--cancel {
  border-color: #dddfe0;
  color: #dddfe0;

  &:hover {
    border-color: #b5b9be;
    color: #b5b9be;
    background-color: transparent;
  }

  &:active {
    border-color: #b5b9be;
    color: rgba(white, 0.3);
    background-color: #b5b9be;
  }
}

.btn--send {
  padding: 17px 0 16px;
  border: none;
  border-radius: 2px;
  @include line-height(18, 30);
  text-transform: uppercase;
  background-color: #2aab6d;

  &:hover {
    color: white;
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(white, 0.3);
    background-color: #1c9b5e;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    color: white;
    background-color: #e5e5e5;
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .btn {
    padding: 14px 0;
    font-size: px2rem(21);

    &--send {
      font-size: px2rem(18);
    }
  }
}
