.btn {
  display: block;
  padding: 15px 0 16px;
  border-radius: 25px;
  border: 3px solid white;
  font-size: px2rem(18);
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: transparent;

  &:hover {
    color: $secondary-color;
    background-color: white;
  }

  &:active {
    color: rgba($secondary-color, 0.3);
    background-color: white;
  }
}

.btn--send {
  border-color: $secondary-color;
  color: $secondary-color;

  &:hover {
    color: white;
    background-color: $secondary-color;
  }

  &:active {
    color: rgba(white, 0.3);
    background-color: $secondary-color;
  }
}

.btn--disabled {
  border-color: #dddfe0;
  color: #dddfe0;

  &:hover {
    border-color: #b5b9be;
    color: #b5b9be;
    background-color: transparent;
  }

  &:active {
    border-color: #b5b9be;
    color: rgba(white, 0.3);
    background-color: #b5b9be;
  }
}

/******
*****
**** Стили для десктопной версии
***
**/

@media #{$desktop-widths} {
  .btn {
    padding: 14px 0;
    font-size: px2rem(21);
  }
}
