.effect {
  display: none;
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .effect {
    display: block;
  }

  .effect__wrap {
    position: relative;
    padding: 96px $tablet-horizontal-margin 70px;

    &::before {
      content: "24";
      position: absolute;
      top: 60px;
      left: $tablet-horizontal-margin;
      display: block;
      @include size(238px, 277px);
      font-size: px2rem(96);
      line-height: 300px;
      font-weight: bold;
      text-align: center;
      vertical-align: bottom;
      color: $secondary-color;
      background: url("./../img/icon-timer-2.svg") no-repeat 0 0;
      background-size: 238px;
    }
  }

  .effect__inner {
    margin-left: auto;
    width: 50%;
  }

  .effect__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: px2rem(30);
    @include line-height(30, 36);
  }

  .effect__description {
    margin-bottom: 11px;
    font-size: px2rem(14);
    @include line-height(14, 24);
    color: $primary-color;
  }

  .effect__learn-more {
    font-size: px2rem(14);
    @include line-height(14, 24);
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .effect {
    background-color: #f2f2f2;

    br {
      display: none;
    }
  }

  .effect__wrap {
    padding: 157px 0 114px;

    &::before {
      top: 65px;
      left: 0;
      @include size(300px, 345px);
      font-size: px2rem(120);
      line-height: 380px;
      background-size: 300px;
    }
  }

  .effect__inner {
    width: 574px;
  }

  .effect__title {
    margin-bottom: 21px;
  }

  .effect__description {
    margin-bottom: 30px;
    font-size: px2rem(18);
    @include line-height(18, 30);
  }

  .effect__learn-more {
    font-size: px2rem(18);
    @include line-height(18, 30);
  }
}
