.form {
  display: flex;
  flex-direction: column;
}

.form__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__label-for-text-input {
  box-sizing: border-box;
  display: block;
  margin-left: 23px;
  margin-bottom: 5px;
  font-size: px2rem(14);
  @include line-height(14, 30);
  text-transform: uppercase;
  color: $secondary-color;
}

.form__input {
  box-sizing: border-box;
  display: block;
  padding: 15px 20px 14px;
  width: 100%;
  border: 2px solid #e7e7e7;
  font-family: $primary-font;
  font-size: px2rem(18);
  @include line-height(18, 30);
  outline: none;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: $secondary-color;
  }
}

.form__checkbox-description,
.form__radiobutton-description {
  position: relative;
  display: block;
  padding-left: 70px;
  font-size: px2rem(18);
  @include line-height(18, 39);
  color: $primary-color;
}

.form__checkbox-description:not(:last-child) {
  margin-bottom: 43px;
}

.form__checkbox-description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  @include size(35px);
  border: 2px solid #e5e5e5;
  background-color: white;
}

.form__checkbox-description::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  display: none;
  @include size(22px, 11px);
  border: 3px solid $secondary-color;
  border-top: none;
  border-right: none;
  background-color: transparent;
  transform: rotateZ(-45deg);
}

.form__radiobutton-description:not(:last-child) {
  margin-bottom: 36px;
}

.form__checkbox-description:hover::before {
  border-color: $primary-color;
}

.form__checkbox-description:active::before {
  border-color: $secondary-color;
}

.form__checkbox-description--disabled {
  opacity: 0.3;
}

.form__checkbox-description--disabled:hover::before,
.form__checkbox-description--disabled:active::before {
  border-color: #e5e5e5;
}


.form__radiobutton-description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  @include size(35px);
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: white;
}

.form__radiobutton-description::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
  @include size(15px);
  border-radius: 50%;
  background-color: $secondary-color;
}

.form__radiobutton-description:hover::before {
  border-color: $primary-color;
}

.form__radiobutton-description:active::before {
  border-color: $secondary-color;
}

.form__radiobutton-description--disabled {
  opacity: 0.3;
}

.form__radiobutton-description--disabled:hover::before,
.form__radiobutton-description--disabled:active::before {
  border-color: #e5e5e5;
}

.form__checkbox,
.form__radiobutton {
  display: none;

  &:checked + label::after {
    display: block;
  }
}

.form__title {
  margin: 0 auto;
  padding: 0 25px;
  font-size: px2rem(14);
  @include line-height(14, 18);
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary-color;
}

.form__input-wrap-phone {
    margin-bottom: 16px;
  }

.form__textarea {
  box-sizing: border-box;
  padding: 14px 18px;
  width: 100%;
  height: 201px;
  border: 2px solid #e5e5e5;
  font-family: $primary-font;
  font-size: px2rem(18);
  @include line-height(18, 30);
  color: $primary-color;
  outline: none;

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    border-color: $secondary-color;
  }
}

.form__btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  width: 100%;
  max-width: 400px;
}

.form__footnote {
  font-size: px2rem(14);
  @include line-height(14, 30);
  text-transform: uppercase;
  color: $primary-color;
}

.form__asterisk {
  color: $secondary-color;
}

.form__footnote-additional {
  display: none;
}

.form__personal-data {
  margin: 0;
  padding: 0 $mobile-horizontal-margin 43px;
  border: none;
}

.form__personal-data .form__input:nth-of-type(2) {
  margin-bottom: 19px;
}

.form__achievements,
.form__what-app {
  margin: 0;
  padding: 37px $mobile-horizontal-margin 49px;
  border: none;
  background: #f2f2f2;
}

.form__achievements .form__title {
  margin-bottom: 40px;
}

.form__what-app {
  padding-bottom: 42px;
}

.form__what-app .form__title {
  margin-bottom: 36px;
}

.form__your-emotions {
  margin: 0;
  padding: 57px $mobile-horizontal-margin 45px;
  border: none;
}

.form__your-emotions .form__title {
  margin-bottom: 18px;
}

.form__contact-details {
  margin: 0;
  padding: 29px $mobile-horizontal-margin 54px;
  border: none;
}

.form__contact-details .form__title {
  display: none;
}

.form__buttons {
  margin: 0;
  padding: 0 $mobile-horizontal-margin 10px;
  border: none;
  text-align: center;
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .form {
    padding: 0 $tablet-horizontal-margin;
  }

  .form__wrap {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form .form__title {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    padding: 0 30px;
    width: auto;
    white-space: nowrap;
    background-color: white;
  }

  .form .form__input--phone,
  .form .form__input--email {
    padding-right: 62px;
  }

  .form__input-wrap-phone,
  .form__input-wrap-email {
    position: relative;
  }

  .form__input-wrap-phone::after,
  .form__input-wrap-email::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    @include size(59px);
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .form__input-wrap-phone::after {
    background-image: url("./../img/icon-phone.svg");
  }

  .form__input-wrap-email::after {
    background-image: url("./../img/icon-mail.svg");
  }

  .form__checkbox-description,
  .form__radiobutton-description {
    padding-left: 59px;
  }

  .form__textarea {
    height: 193px;
  }

  .form__btn {
    display: inline-block;
    margin: 0;
    width: 300px / 620px * 100%;
    vertical-align: top;
  }

  .form__footnote {
    margin-top: 17px;
  }

  .form__what-app,
  .form__your-emotions,
  .form__contact-details,
  .form__achievements {
    position: relative;
    margin-bottom: 65px;
    padding: 0 (60px / 700px * 100%);
    border: 2px solid #e5e5e5;
    background: none;
  }

  .form__personal-data {
    padding: 0;
    padding-bottom: 65px;
  }

  .form__personal-data .form__wrap {
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    min-height: 294px;
  }

  .form__personal-data .form__label-for-text-input {
    margin: 0;
    margin-right: 20px;
  }

  .form__personal-data .form__input {
    flex-grow: 1;
    width: 84%;
  }

  .form__personal-data .form__input:not(:last-child) {
    margin: 0;
  }

  .form__what-app {
    padding: 52px 58px 54px;
  }

  .form__contact-details {
    order: 1;
    padding: 45px 58px 26px;
  }

  .form__contact-details .form__wrap {
    min-height: 235px;
  }

  .form__contact-details .form__title {
    display: block;
  }

  .form__contact-details .form__label-for-text-input {
    margin: 0;
    margin-top: 10px;
    margin-left: 19px;
  }

  .form__contact-details .form__label-for-text-input:first-of-type {
    order: 1;
    margin-bottom: auto;
  }

  .form__contact-details .form__label-for-text-input:last-of-type {
    order: 3;
  }

  .form__contact-details .form__input-wrap-email {
    order: 2;
  }

  .form__contact-details .form__input-wrap-phone {
    margin: 0;
  }

  .form__achievements {
    order: 2;
    padding: 52px 58px 48px;
  }

  .form__your-emotions {
    order: 3;
    margin-bottom: 67px;
    padding: 45px 58px 49px;
  }

  .form__buttons {
    display: flex;
    justify-content: space-between;
    order: 4;
    padding: 0 0 45px;
    text-align: left;
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .form__textarea {
    height: 128px;
  }

  .form__btn {
    padding: 17px 0 16px;
    width: 300px;
  }

  .form__footnote-additional {
    display: inline;
  }

  .form__personal-data {
    margin-top: 13px;
    margin-right: 70px;
    width: 435px;
  }

  .form__personal-data .form__label-for-text-input {
    margin-right: 18px;
  }

  .form__personal-data .form__label-for-text-input:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .form__personal-data .form__input {
    width: 340px;
  }

  .form__personal-data .form__input:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .form__what-app {
    box-sizing: border-box;
    margin-top: 7px;
    padding: 55px 74px 53px;
    width: 435px;
  }

  .form__contact-details {
    padding: 42px 58px 13px;
    width: 100%;
  }

  .form__contact-details .form__wrap {
    flex-direction: row;
    align-content: space-between;
    min-height: auto;
  }

  .form__contact-details .form__wrap .form__label-for-text-input {
    margin: 10px auto 0 19px;
    order: 3;
  }

  .form__contact-details .form__label-for-text-input:last-of-type {
    padding-left: 40px;
  }

  .form__contact-details .form__input {
    width: 375px;
  }

  .form__achievements {
    padding: 52px 48px 12px 58px;
    width: 100%;
  }

  .form__achievements .form__wrap {
    flex-direction: row;
    justify-content: flex-start;
  }

// Сделал так, чтобы соответствовало макету
  .form__achievements .form__checkbox-description:nth-of-type(2) {
    order: 4;
    // margin-bottom: 0;
  }

  // .form__achievements .form__checkbox-description:nth-of-type(3) {
  //   margin-left: 57px;
  //   margin-bottom: 0;
  // }

  .form__achievements .form__checkbox-description:nth-of-type(4) {
    order: 5;
    // margin-left: 96px;
    // margin-bottom: 0;
  }

  // .form__achievements .form__checkbox-description:nth-of-type(5) {
  //   margin-left: 65px;
  //   margin-bottom: 0;
  // }

  .form__achievements .form__checkbox-description:nth-of-type(6) {
    order: 6;
    // margin-left: 74px;
  }

  .form__checkbox-description {
    box-sizing: border-box;
    width: 33%;
  }

  .form__your-emotions {
    margin-bottom: 65px;
    padding: 42px 58px 41px;
    width: 100%;
  }

  .form__buttons {
    padding: 0;
    width: 100%;
  }
}
