.intro {
  position: relative;
  text-align: center;
  background: #1d2631 url("./../img/bg-back-mobile@1x.jpg") no-repeat center top;

  &--index-page::after {
    content: "";
    position: absolute;
    left: 0;
    top: 176px;
    @include size(258px, 286px);
    background: url("./../img/iphone-hand-mobile@1x.png") no-repeat 0 0;
  }
}

.intro--index-page .intro__inner {
  padding: 462px $mobile-horizontal-margin 30px;
}

.intro__heading {
  display: none;
  margin: 0;
  padding: 0;
  font-size: px2rem(40);
  line-height: 1.2;
  font-weight: 300;
  color: white;
}

.intro__btn {
  margin-top: 28px;
}

.intro__icons {
  @include list-reset;
  margin-top: 32px;
  margin-bottom: 22px;
}

.intro__icon {
  display: inline-block;
  vertical-align: bottom;

  &:not(:last-child) {
    margin-right: 35px;
  }

  img {
    display: block;
  }
}

.intro__description {
  font-size: px2rem(14);
  @include line-height(14, 24);
  font-weight: 300;
  color: white;
}

.intro__title {
  margin: 0 auto;
  padding: 98px $mobile-horizontal-margin 83px;
  max-width: 350px;
  font-size: px2rem(24);
  line-height: 1.2;
  font-weight: 300;
  color: white;
}

@media #{$tablet-widths} {
  .intro--index-page::after {
    top: auto;
    bottom: 0;
  }

  .intro--index-page .intro__inner {
    position: relative;
    z-index: 10;
    padding: 203px $tablet-horizontal-margin 110px;
    width: 300px;
  }

  .intro__heading {
    display: block;
    padding: 0 40px;
  }

  .intro__btn {
    margin-top: 30px;
  }

  .intro__icons {
    margin-top: 46px;
    margin-bottom: 37px;
  }

  .intro__description {
    font-size: px2rem(18);
    @include line-height(18, 24);
  }

  .intro__title {
    padding: 180px $tablet-horizontal-margin 140px;
    max-width: 740px;
    font-size: px2rem(50);
  }
}

@media #{$desktop-widths} {
  .intro__wrap {
    margin: 0 auto;
    max-width: 940px;
  }
  .intro--index-page .intro__inner {
    padding: 217px 0 122px;
  }

  .intro__title {
    padding: 173px 0 101px;
  }

  .intro__heading {
    padding: 0;
    font-size: px2rem(50);
  }

  .intro__btn {
    margin-top: 52px;
  }

  .intro__icons {
    margin-top: 65px;
    margin-bottom: 59px;
  }
}
