.page-section {
  padding: 45px $mobile-horizontal-margin 49px;
  text-align: center;

  &--form-page {
    padding-top: 45px;
    padding-bottom: 34px;
  }

  &--photo-page {
    padding-top: 41px;
    padding-bottom: 41px;
  }
}

.page-section__text {
  margin: 0 auto;
  max-width: 400px;
  font-size: px2rem(14);
  @include line-height(14, 30);
  color: $primary-color;

  &--special {
    padding: 0 15px;
    max-width: 480px;
  }
}

.page-section__addition {
  display: none;
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .page-section {
    padding: 92px 0 76px;

    &--form-page {
      padding-top: 92px;
      padding-bottom: 71px;
    }

    &--photo-page {
      padding-top: 45px;
      padding-bottom: 69px;
    }
  }

  .page-section__text {
    margin: 0 auto;
    max-width: 500px;
    font-size: px2rem(18);
    @include line-height(18, 30);
  }

  .page-section__addition {
    display: inline;
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .page-section {
    padding-bottom: 85px;

    &--form-page {
      padding-bottom: 71px;
    }

    &--photo-page {
      padding-top: 4px;
      padding-bottom: 66px;
    }
  }
  .page-section__text {
    max-width: 760px;

    &--special {
      max-width: 575px;
    }
  }
}
