.page-header {
  position: relative;
  z-index: 10;
  padding-top: 22px;
  margin-bottom: -66px;
  font-size: 0;
  background-color: rgba(black, 0.3);
}

.page-header__logo {
  display: inline-block;
  margin-left: $mobile-horizontal-margin;
  margin-bottom: 21px;
}

// Стили только для мобильной и планшетной версии
@media #{$mobile-and-tablet} {
  .page-header--open-nav,
  .page-header--nojs {
    background-color: $primary-color;
  }
}

/******
*****
**** Стили для планшетной версии
***
**/

@media #{$tablet-widths} {
  .page-header {
    padding-top: 44px;
    margin-bottom: -110px;
  }

  .page-header__logo {
    margin-left: $tablet-horizontal-margin;
    margin-bottom: 43px;
  }
}

@media (min-width: 900px) {
  .page-header {
    padding-top: 0;
  }

  .page-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $tablet-horizontal-margin;
    min-height: 110px;
  }

  .page-header__logo {
    margin: 0;
  }
}

/******
*****
**** Стили для десктопной версии
***
**/

@media #{$desktop-widths} {
  .page-header {
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__wrap {
    // margin: 0 auto;
    padding: 0;
    // max-width: 940px;
  }
}
