.page-footer--index-page {
  display: none;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  padding: 44px $mobile-horizontal-margin 0;
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 37px;
}

.page-footer__logo svg {
  fill: $primary-color;
}

.page-footer__logo:hover svg {
  fill: $secondary-color
}

.page-footer__logo:active svg {
  fill: $primary-color;
  opacity: 0.3;
}

.page-footer__logo--index-page:hover svg {
  fill: $primary-color;
}

.page-footer__logo--index-page:active svg {
  opacity: 1;
}

.page-footer__logo-glasses-desktop,
.page-footer__logo-stars {
  display: none;
}

.page-footer__copyright {
  margin-top: 35px;
  font-size: px2rem(14);
  @include line-height(14, 18);
  color: $primary-color;

  a {
    display: inline-block;
    margin-left: 11px;
    font-size: 0;
    vertical-align: middle;
  }
}

.page-footer__copyright svg {
  fill: $secondary-color;
}

.page-footer__copyright a:hover svg {
  fill: $primary-color;
}

.page-footer__copyright a:active svg {
  fill: rgba($primary-color, 0.3);
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .page-footer--index-page {
    display: block;
  }

  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px $tablet-horizontal-margin 44px;

    &--form-page {
      padding-top: 40px;
      padding-bottom: 37px;
    }
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin-top: 4px;
    margin-left: -16px;
  }

  .page-footer__copyright {
    margin: 13px 0 0;
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .page-footer__wrap {
    padding: 70px 0 72px;
  }

  .page-footer__logo-glasses {
    display: none;
  }

  .page-footer__logo-glasses-desktop,
  .page-footer__logo-stars {
    display: block;
  }

  .page-footer__social {
    margin-left: 10px;
  }

  .page-footer__copyright {
    font-size: px2rem(18);
    line-height: 1;
  }

  .page-footer--photo-page .page-footer__wrap  {
    padding-top: 97px;
  }
}
