.page-footer--index-page {
  display: none;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  padding: 40px $mobile-horizontal-margin 0;
  width: 100%;
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 37px;
}

.page-footer__copyright {
  margin-top: 38px;
  font-size: px2rem(14);
  @include line-height(14, 18);
  color: $primary-color;

  a {
    margin-left: 14px;
    font-size: 0;
  }

  img {
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
  }
}

@media #{$tablet-widths} {
  .page-footer--index-page {
    display:flex;
  }

  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px $tablet-horizontal-margin 44px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin-top: 4px;
    margin-left: -16px;
  }

  .page-footer__copyright {
    margin: 21px 0 0;
  }
}

@media #{$desktop-widths} {
  .page-footer__wrap {
    margin: 0 auto;
    padding: 70px 0 72px;
    max-width: 940px;
  }

  .page-footer__social {
    margin-left: 10px;
  }

  .page-footer__copyright {
    font-size: px2rem(18);
    line-height: 1;
  }
}
