.photos {
  display: flex;
  flex-direction: column;
  font-size: px2rem(14);
  @include line-height(14, 24);
  text-align: center;
  color: $primary-color;
  text-align: center;
}

.photos__image {
  box-sizing: border-box;
  padding: 0 $mobile-horizontal-margin;

  img {
    display: block;
    margin: 0 auto;
  }
}

.photos__wraper {
  margin: 0 $mobile-horizontal-margin;
  padding: 17px 17px 20px;
  text-align: left;
  background-color: #f2f2f2;
}

.photos__author {
  font-weight: bold;
}

.photos__time {
  font-size: px2rem(12);
  @include line-height(12, 24);
  font-weight: 300;
  text-transform: uppercase;
}

.photos__like {
  margin-top: 10px;
  padding-left: 32px;
  font-size: px2rem(12);
  @include line-height(12, 24);
  text-transform: uppercase;
  color: $secondary-color;
  background: url("./../img/icon-heart.svg") no-repeat 0 50%;
}

.photos__item:not(:last-child) {
  margin-bottom: 20px;
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photos__item {
    margin-right: 20px;
    width: 300px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .photos__image {
    padding: 0;
  }

  .photos__wraper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: 0;
    padding: 24px 28px 22px;
    min-height: 155px;
  }

  .photos__like {
    margin-top: auto;
    padding: 0;
    padding-right: 32px;
    background-position: 99% 50%;
  }

  .photos .photos__item--panorama {
    margin-bottom: 50px;
    width: 100%;
  }
}



// Промежуточный брейкопоинт

@media (min-width: 940px) {
  .photos .photos__item {
    margin-right: 20px;
  }

  .photos__item:nth-child(3n) {
    margin-right: 0;
  }
}



// Стили для планшетной версии

@media #{$desktop-widths} {
  .photos__item:not(:last-child) {
    margin-bottom: 54px;
  }
}
