.photos {
  font-size: px2rem(14);
  @include line-height(14, 24);
  text-align: center;
  color: #283645;
  text-align: center;

  &__item {
    position: relative;
    background-color: #f2f2f2;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--panorama img {
      padding: 0;
    }

    &--panorama::before {
      content: attr(data-value);
      position: absolute;
      top: 0;
      right: 20px;
      padding: 6px 20px;
      font-size: px2rem(12);
      @include line-height(12, 24);
      font-weight: bold;
      text-transform: uppercase;
      color: white;
      background-color: #d22856;
    }
  }

  &__image {
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 100%;
  }

  &__wraper {
    padding: 20px 20px 25px;
    text-align: left;
  }

  &__author {
    font-weight: bold;
  }

  &__time {
    font-size: px2rem(12);
    @include line-height(12, 24);
    font-weight: 300;
    text-transform: uppercase;
  }

  &__like {
    position: relative;
    margin-top: 10px;
    margin-left: 32px;
    font-size: px2rem(12);
    @include line-height(12, 24);
    text-transform: uppercase;
    color: #d22856;
  }
}
