.plans {
  padding: 85px $mobile-horizontal-margin 45px;
  background: #f2f2f2 url("./../img/bg-triangle-white.svg") no-repeat 100% 0;
}

.plans__items {
  position: relative;
  display: flex;
  justify-content: center;
  @include list-reset;
}

.plans__item {
  display: none;
  width: 100%;

  &:nth-child(3) {
    display: block;
  }
}

.plans__item:nth-child(2) .plans__header {
  border-left: 2px solid $primary-color;
}

.plans__item:last-child .plans__header {
  border-right: 2px solid $primary-color;
}

.plans__item:nth-child(2) .plans__feature {
  border-left: 2px solid #e5e5e5;
}

.plans__item--first {
  display: none;
}

.plans__header {
  position: relative;
  padding: 16px 0 20px;
  border-right: 2px solid #e5e5e5;
  color: white;
  text-align: center;
  background-color: $primary-color;

  &--hit:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include size(75px, 72px);
    background: url("./../img/bg-hit.svg") no-repeat 0 0;
  }

  &--hit:after {
    content: attr(data-value);
    position: absolute;
    top: 21px;
    left: 9px;
    font-size: px2rem(14);
    font-weight: bold;
    text-transform: uppercase;
    transform-origin: 50% 50%;
    transform: rotate(-45deg);
  }
}

.plans__name {
  margin-bottom: 2px;
  font-size: px2rem(18);
  @include line-height(18, 30);
  font-weight: bold;
  text-transform: uppercase;
}

.plans__price {
  font-size: px2rem(24);
  @include line-height(24, 30);
  font-weight: 300;
}

.plans__feature {
  position: relative;
  padding: 15px 22px 14px 23px;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  font-size: px2rem(14);
  @include line-height(14, 30);
  text-transform: uppercase;
  color: $primary-color;
  background-color: white;

  &--available:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;
    @include size(30px, 21px);
    background: url("./../img/icon-yes.svg") no-repeat 0 0;
  }

  &--not-available:after {
    content: "";
    position: absolute;
    top: 15px;
    right: 19px;
    @include size(27px);
    background: url("./../img/icon-no.svg") no-repeat 0 0;
  }
}

.plans__toggles {
  padding-top: 35px;
}

@media (max-width: 659px) {
  .plans {
    overflow: hidden;
  }

  .plans__item--left,
  .plans__item--right {
    position: absolute;
    top: 0;
    display: block;
  }

  .plans__item--left {
    left: -100%;
  }

  .plans__item--right {
    right: -100%;
  }
}



// Стили для планшетной версии

@media #{$tablet-widths} {
  .plans {
    padding: 104px $tablet-horizontal-margin 68px;
  }
  .plans__items {
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    vertical-align: bottom;
  }

  .plans__item {
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 25%;
  }

  .plans__item:nth-child(n+2) .plans__feature {
    height: 30px;
    font-size: 0;
  }

  .plans__item--first .plans__header {
    margin-top: -2px;
    height: 58px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    background-color: transparent;
  }

  .plans__item--first .plans__feature {
    border-left: 2px solid #e5e5e5;
    border-right: none;
  }

  .plans__header {
    padding: 12px 0 9px;
  }

  .plans__name {
    margin: 0;
    font-size: px2rem(16);
    @include line-height(16, 28);
  }

  .plans__price {
    font-size: px2rem(18);
    @include line-height(18, 30);
  }

  .plans__header--hit::before {
    left: 0;
    background: url("./../img/bg-hit-tablet.svg") no-repeat 0 0;
  }

  .plans__header--hit::after {
    top: 13px;
    left: 6px;
  }

  .plans__feature {
    padding: 7px 15px 8px;
    text-transform: none;

    &--available::after,
    &--not-available::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .plans__toggles {
    display: none;
  }
}



// Стили для десктопной версии

@media #{$desktop-widths} {
  .plans {
    padding: 149px 0 95px;
  }

  .plans__items {
    max-width: 940px;
  }

  .plans__header {
    padding: 17px 0 21px;
  }

  .plans__item--first .plans__header {
    height: 60px;
  }

  .plans__header--hit::before {
    left: 0;
    background: url("./../img/bg-hit.svg") no-repeat 0 0;
  }

  .plans__header--hit::after {
    top: 21px;
    left: 10px;
  }

  .plans__name {
    font-size: px2rem(18);
    @include line-height(18, 30);
  }

  .plans__price {
    font-size: px2rem(24);
    @include line-height(24, 30);
  }

  .plans__feature {
    padding: 14px 20px 15px;
    font-size: px2rem(18);
    @include line-height(18, 30);
  }
}
