.plans {
  position: relative;
  padding: 90px 0 45px;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    @include size(100%, 32px);
    background: linear-gradient(to right bottom, #ffffff 0%, #ffffff 50%, #f2f2f2 51%, #f2f2f2 100%);
  }

  &__items {
    @include list-reset;

    // &:after {
    //   content: "";
    //   display: table;
    //   clear: both;
    // }
  }

  &__item {
    // width: calc(100% - 40px);
    // float: left;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
  }

  &__header {
    position: relative;
    padding: 25px 0;
    color: white;
    text-align: center;
    background-color: #283645;

    &--hit:before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      @include size(75px, 72px);
      background: url("./../img/bg-hit-tablet.svg") no-repeat 0 0;
    }

    &--hit:after {
      content: attr(data-value);
      position: absolute;
      top: 13px;
      left: 4px;
      font-size: px2rem(14);
      font-weight: bold;
      text-transform: uppercase;
      transform-origin: 50% 50%;
      transform: rotateZ(-45deg);
    }
  }

  &__name {
    margin-bottom: 5px;
    font-size: px2rem(18);
    @include line-height(18, 30);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__price {
    font-size: px2rem(24);
    @include line-height(24, 30);
    font-weight: 300;
  }

  &__feature {
    position: relative;
    padding: 15px 22px 15px 17px;
    border-bottom: 2px solid #e5e5e5;
    font-size: px2rem(14);
    @include line-height(14, 30);
    text-transform: uppercase;
    color: #283645;

    &--available:after {
      content: "";
      position: absolute;
      top: 20px;
      right: 17px;
      @include size(30px, 21px);
      background: url("./../img/icon-yes.svg") no-repeat 0 0;
    }

    &--not-available:after {
      content: "";
      position: absolute;
      top: 17px;
      right: 17px;
      @include size(27px);
      background: url("./../img/icon-no.svg") no-repeat 0 0;
    }
  }

  &__toggles {
    padding-top: 40px;
  }
}
