.slider {

  &__toggles {
    @include list-reset;
    font-size: 0;
    text-align: center;
  }

  &__toggle {
    display: inline-block;
    @include size(6px);
    border: 3px solid white;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #bec2c7;

    &:not(:last-child) {
      margin-right: 13px;
    }

    &--active {
      border-color: #283645 !important; //По-другому не получается повысить специфичность =(
    }
  }
}
