.social {
  @include list-reset;
  font-size: 0;

  &__link {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 3px solid #e9ebec;
    border-radius: 50%;
    background: white;
    background-repeat: no-repeat;
    background-position: center center;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &--twitter {
      background-image: url("../../img/icon-twitter.svg");
    }

    &--facebook {
      background-image: url("../../img/icon-facebook.svg");
    }

    &--youtube {
      background-image: url("../../img/icon-youtube.svg");
    }
  }
}
