.social {
  @include list-reset;
  font-size: 0;
  vertical-align: middle;
}

.social__link {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.social__link a {
  position: relative;
  display: inline-block;
  @include size(45px);
  border: 3px solid rgba($primary-color, 0.1);
  border-radius: 50%;
  background-color: white;
}

.social__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $secondary-color;
}

.social__link a:hover {
  border-color: $primary-color;
}

.social__link a:active {
  border-color: rgba($primary-color, 0.1);
}

.social__link a:active svg {
  fill: rgba($secondary-color, 0.3);
}
